@using DMX.Portal.Web.Views.Bases


<ContainerBase @ref=Container
               CssClass="device-overview">

    <div align=center>
        <ImageBase @ref=Image
                   Url=@ImageUrl />
    </div>

    <div align=center>
        <LabelBase @ref=DeviceLabel
                   Text=@Device.Name />
    </div>

    <div align=center>
        <ImageBase @ref=PowerLevelImage
                   Url=@PowerLevelImageUrl />
    </div>

</ContainerBase>