@page "/"
@using DMX.Portal.Web.Models.Views.LabViews

<h1>Hello, world!</h1>

Welcome to your new app.

<DMX.Portal.Web.Views.Components.DeviceOverviews.DeviceOverviewComponent Device="Device" />

@code 
{
    public LabDeviceView Device {get; set;} = new LabDeviceView
    {
        Name = "NUC",
        PowerLevel = PowerLevelView.Low,
        Type = LabDeviceTypeView.PC
    };
}