<div class="nav-item px-3">
    <NavLink style="@Color" class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="@IconClass" aria-hidden="true"></span> @Label
    </NavLink>
</div>


@code {

}
