@using DMX.Portal.Web.Views.Components.Headers
@using DMX.Portal.Web.Views.Components.Menus
@inherits LayoutComponentBase

<PageTitle>DMX Studio</PageTitle>

<div class="page">
    <div>
        <SideMenuComponent />
    </div>
    <main>
        <HeaderComponent />
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>