@using DMX.Portal.Web.Views.Bases
@using DMX.Portal.Web.Models.Services.Views.LabViews

<div>
    <ContainerBase @ref=Container
                   CssClass="lab-overview-details">

        <TableBase @ref=DetailsTable>
            <TableRowBase>
                <TableCellBase @ref=NameLabelCell
                               Value=@nameof(LabView.Name) />

                <TableCellBase @ref=NameValueCell
                               Value=@Lab.Name />
            </TableRowBase>

            <TableRowBase>
                <TableCellBase @ref=DmxVersionLabelCell
                               Value=@nameof(LabView.DmxVersion) />

                <TableCellBase @ref=DmxVersionValueCell
                               Value=@Lab.DmxVersion />
            </TableRowBase>

            <TableRowBase>
                <TableCellBase @ref=StatusLabelCell
                               Value=@nameof(LabView.Status) />

                <TableCellBase @ref=StatusValueCell
                               Value=@Lab.Status.ToString() />
            </TableRowBase>

            <TableRowBase>
                <TableCellBase @ref=DescriptionLabelCell
                               Value=@nameof(LabView.Description) />

                <TableCellBase @ref=DescriptionValueCell
                               Value=@Lab.Description />
            </TableRowBase>
        </TableBase>

    </ContainerBase>
</div>