@using DMX.Portal.Web.Views.Components.DeviceOverviews
@using DMX.Portal.Web.Views.Components.LabOverviewDetails
@using DMX.Portal.Web.Views.Bases
@using PrettyBlazor
@using DMX.Portal.Web.Views.Components.Statuses

<div>
    <ContainerBase @ref=Container
                   CssClass="lab-overview">

        <ContainerBase @ref=LabOverviewDetailsContainer
                       CssClass="lab-overview-details">

            <ContainerBase @ref=LabTitleStatusContainer
                           CssClass="lab-overview-title">

                <StatusComponent @ref=StatusComponent
                                 Status=LabStatus />

                <LargeTitleBase @ref=Name Text=@Lab.Name />
            </ContainerBase>

            <LabOverviewDetailsComponent @ref=Details
                                         Lab="@Lab" />

        </ContainerBase>

        <div>

            <ContainerBase @ref="DevicesContainer"
                           CssClass="device-overviews">

                <Iterations Items="@Lab.Devices" Context="Device">
                    <DeviceOverviewComponent Device="Device" />
                </Iterations>

            </ContainerBase>

        </div>
    </ContainerBase>
</div>