::deep .lab-overview {
    border: 1px solid black;
    display: flex;
    width: 100%;
}

::deep .device-overviews {
    display: flex;
    width: 100%;
    padding: 11px;
}

::deep .lab-overview-details {
    width: 100%;
    padding: 25px;
}

::deep .lab-overview-title {
    display: flex;
}
