@using DMX.Portal.Web.Views.Components.DeviceOverviews
@using DMX.Portal.Web.Views.Components.LabOverviewDetails
@using DMX.Portal.Web.Views.Bases
@using PrettyBlazor

<div>
    <ContainerBase @ref=Container
                   CssClass="lab-overview">

        <LabOverviewDetailsComponent @ref=Details
                                     Lab="@Lab" />

        <Iterations Items="@Lab.Devices" Context="Device">
            <DeviceOverviewComponent Device="Device" />
        </Iterations>

    </ContainerBase>
</div>