::deep .lab-overview {
    border: 1px solid black;
    display: flex;
    width: 100%;
}

::deep .device-overviews {
    display: flex;
    width: 100%;
}

::deep .lab-overview-details {
    width: 50%;
}